<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
	<title th:text="#{add.title}">add</title>
	<script type="text/javascript" th:src="@{/webjars/flot/0.8.3/jquery.flot.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/flot/0.8.3/jquery.flot.time.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/js-cookie/2.1.3/js.cookie.js}"></script>
	<script type="text/javascript" th:src="@{/js/charts.js}"></script>
</head>
<body>
<div class="container" layout:fragment="content">
	<h1 th:text="#{add.headline}">Add measurement</h1>
	<form th:action="@{/measurements}" th:object="${measurement}" method="post">
		<div class="form-group">
			<label th:for="${#ids.next('weightInKg')}" th:text="#{add.weight}">Weight in kg</label>
			<input type="number" class="form-control" th:field="*{weightInKg}" step="0.1" required="required" autofocus="autofocus"/>
		</div>
		<div class="form-group">
			<input type="submit" class="btn btn-default" value="Add" th:value="#{add.submit}" />
		</div>
	</form>
	<div id="charts-navigation" class="btn-group">
		<button th:attr="data-days=${day}" type="button" class="btn btn-default" th:text="${day + ' days'}" th:each="day : ${days}">x days</button>
	</div>
	<div id="placeholder"></div>
</div>
</body>
</html>