<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="mobile-web-app-capable" content="yes" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/base.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
	<title layout:title-pattern="$LAYOUT_TITLE: $CONTENT_TITLE" th:title="#{layout.title}">fat lining</title>
</head>
<body>
	<div sec:authorize="isAuthenticated()" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}" th:inline="text"><span class="glyphicon glyphicon-scale"></span> [[#{navigation.headline}]]</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a th:href="@{/measurements}" th:text="#{navigation.add}">Add</a>
					</li>
					<li>
						<a th:href="@{/measurements/all}" th:text="#{navigation.measurements}">Measurements</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span sec:authentication="name">Name</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a th:href="@{/user/details}" th:text="#{navigation.user.details}">Details</a>
							</li>
							<li>
								<a th:href="@{/user/password}" th:text="#{navigation.user.password}">Password</a>
							</li>					
						</ul>
					</li>
					<li class="dropdown" sec:authorize="hasAuthority('ADMIN')"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span th:text="#{navigation.admin}">Admin</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a th:href="@{/admin/users}" th:text="#{navigation.admin.users}">Manage users</a>
							</li>
							<li>
								<a th:href="@{/admin/users/new}" th:text="#{navigation.admin.new}">New user</a>
							</li>					
						</ul>
					</li>
					<li>
						<form class="navbar-form" th:action="@{/logout}" method="post">
							<button type="submit" class="btn btn-default" th:inline="text"><span th:title="#{navigation.logout}" class="glyphicon glyphicon-log-out"></span> [[#{navigation.logout}]]</button>
						</form>	
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>

	</div>
	<div class="container">
		<div th:if="${!#strings.isEmpty(success)}">
			<div class="alert alert-success" role="alert" th:text="${success}">Success message</div>
		</div>
		<div th:if="${!#strings.isEmpty(error)}">
			<div class="alert alert-danger" role="alert" th:text="${error}">Error message</div>
		</div>
	</div>
	<div class="container" layout:fragment="content">CONTENT</div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
</body>
</html>