<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
	<title th:text="#{measurements.title}">all</title>
</head>
<body>
<div class="container" layout:fragment="content">
	<h1 th:text="#{measurements.headline}">All measurements</h1>
	<table class="table">
		<thead>
			<tr>
				<th th:text="#{measurements.date}">Date</th>
				<th th:text="#{measurements.weight}">Weight in kg</th>
				<th th:text="#{measurements.actions}">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="measurement : ${page.entries}">
				<td th:text="${#temporals.format(measurement.dateTime, 'dd.MM.yyyy HH:mm')}"></td>
				<td th:text="${measurement.weightInKg}">1</td>
				<td><form th:action="@{'/measurements/' + ${measurement.id} + '/delete'}" method="post">
						<input type="submit" class="btn btn-default" value="Delete"  th:value="#{measurements.actions.delete}"/>
					</form>
				</td>
			</tr>
		</tbody>

	</table>
	<div th:if="${!page.empty}">
		<ul class="pagination">
			<li th:class="${item.active}? '' : 'disabled'" th:each="item : ${page.pagination}">
       			<span th:if="${!item.active}" th:text="${item.label}">1</span>
       			<a th:if="${item.active}" th:href="@{''(page=${item.number})}" th:text="${item.label}">1</a>
    		</li>
		</ul>
 	</div>
</div>
</body>
</html>